

/* Simple reset rule */

* {
		padding: 0px;
		border: 0px;
		margin: 0px;
		box-sizing: border-box;
		text-decoration: none;
	}
	
	/* Global rules */
	
	body {
		font-family: Helvetica, Arial, sans-serif;
	}
	
	/* --------------------------------------------------------------- */
	.container {
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	
	.hero_image {
		background-image: url(); /* to be completed */
		background-size: cover;
		background-position: center;
	}
	
	/* header starts */
	
	header {
		background: #333;
		height: 120px;	
	}
		
		/* Logo container */
	
		.nav_logo {
			background: url(../img/via_logo.png) top left no-repeat;
			background-size: contain;
			height: 64px;
			width: 120px;
			margin: 24px 0;
			display: block;
			float: left;
		}

		.company_name {
			float: left;
			color: #fff;
			margin: 19px 0 24px 24px;
			font-size: 30px;
		}


	
		/* Navigation bar */
	
		nav {
			float: right;
			margin-top: 24px;
		}

		nav .nav_item {
			color: #fff;
			font-family: Helvetica, Arial, sans-serif;
			text-decoration: none;
			display: inline-block;
			padding: 18px 24px;
			font-weight: bold;
			transition: 0.1s ease-in-out;
			border-radius: 3px;
			margin: 0 3px;
		}

		nav .nav_item:hover {
			background: rgba(255,255,255,0.1);
		}

		nav .nav_item.active {
			border: 1px solid rgba(255,255,255,0.2);
		}

		.home_hero {
			background: url(../img/home_hero.jpg) center no-repeat;
			background-size: cover;
			height: 960px;
			padding-top: 24px;
		}

		.home_hero .main_text {
			width: 50%;
			margin: 120px auto 0 auto;
			font-size: 48px;
			text-align: center;
			color: white;
		}

		.home_hero .description {
			width: 50%;
			text-align: center;
			font-size: 24px;
			color: #fff;
			margin: 24px auto 144px auto;
		}
	
	/* header ends */
	
	/* main starts */
	
	main {
	
	}

	.section_header {
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		margin: 36px 0;
	}

	.col_fourth {
		width: 25%;
		padding: 0 24px;
		float: left;
	}
	
	.news_img {
		width: 128px;
		height: 128px;
		margin: 0 auto 18px auto;
		background-color: white;
	}
	
	.news_heading {
		text-align: center;
		color: white;
		display: block;
		margin: 0 0 12px 0; 
		font-size: 1.5em;
	}

	.news_p {
		text-align: center;
		color: white;
	}

	/* main ends */
	
	/* footer starts */
	
	footer {
	
	
	
	}
	
	/* footer ends */

	.clear {
		clear: both;
	}